*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: radial-gradient(rgba(0, 0, 0, .8), rgba(0,0,0,0.6));
  color: #ffffff;
  font-size: 18px;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.small {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.name {
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
  font-size: 4.5em;
  margin-bottom: .5em;
}

.description {
  font-size: 1.8em;
  line-height: 1.9;
  margin-bottom: 1.25em;
}

.social-media-list {
  list-style-type: none;
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
}

.social-media-item {
  width: 3em;
}

.social-media-link {
  text-decoration: none;
}

.social-media-link svg {
  fill: #cccccc;
}

/* .github,
.twitter,
.instagram,
.email {
  fill: #cccccc;
}

.github:hover,
.twitter:hover,
.instagram:hover,
.email:hover {
  fill: blue;
} */
