*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: radial-gradient(rgba(0, 0, 0, .2), rgba(0,0,0,0.1));
  color: #000000;
  font-size: 18px;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 100;
  min-width: 100vw;
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-tag-top {
  color: white;
  background: red;
  padding-top: 5px;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.name-tag-hello {
  font-weight: 900;
  font-family: sans-serif;
  text-align: center;
  font-size: 32px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: -3px;
}

.name-tag-my-name {
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
}

.name-tag-name {
  font-family: 'Permanent Marker';
  font-size: 4em;
  line-height: 1.1;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 5px;
}

.name-tag-bottom {
  background-color:red;
  height: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.wrapper-2 {
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 1.8em;
  line-height: 1.9;
  margin-bottom: 1.25em;
}

.link-list {
  list-style-type: none;
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
}

.link-list-item {
  width: 6em;
  height: 6em;
  border-radius: 50%;
}

.link-list-link {
  text-decoration: none;
}

.link-list-icon {
  width: 3em;
  fill: #000000;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-list-icon:hover {
  transform: scale(1.25);
  filter: drop-shadow(.25em .5em .25em rgba(0,0,0,.3));
}