<header class="site-header">

  <div class="wrapper">

    <div class="site-opening">
      <h1>I am father, paralegal, and part&dash;time web&dash;developer located in Chicago, Illinois</h1>
    </div>

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div> <!-- End .trigger -->
    </nav>

  </div>  <!-- End Wrapper -->

</header>
